{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": "warn"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "overrides": [
    {
      "files": ["*.config.js"],
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
